/* CSS Animation Keyframes */
@keyframes found {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


/* Style for the counter */

#product-counter{
    display: block;
}
.plus-minus {
    position: relative;
}

.plus {
    position: absolute;
    border-radius: 3px;
    text-align: center;
    width: 40px;
    top: -22px;
    left: -22px;
    cursor: pointer;
    background-color: #e81c4f;
    color: #fff;
}

.minus {
    position: absolute;
    border-radius: 3px;
    text-align: center;
    width: 40px;
    top: 22px;
    left: -22px;
    cursor: pointer;
    background-color: #e81c4f;
    color: #fff;
}
.plus:active,
.minus:active{
    animation: skew .5s ease-in-out;
}
@keyframes skew  {
        from{
            transform: scale(.9);
        }
        to{
            transform: scale(1);
        }
    }
#center-text{
    text-align: center;
}
.vsm-text:hover {
    color: #FF5252;
}

.book, .book-img {
    width: 120px;
    height: 180px;
    border-radius: 5px;
}

.book {
    margin: 20px 15px 5px 15px;
}

.border-top {
    border-top: 1px solid #EEEEEE !important;
    margin-top: 20px;
    padding-top: 15px;
}

.card {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.2);
}

input, textarea {
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300;
    height: 50px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #673AB7;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.2);
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #E0E0E0;
}

.gray .pay {
    box-shadow: none;
}

#tax {
    border-top: 1px lightgray solid;
    margin-top: 10px;
    padding-top: 10px;
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: #673AB7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #311B92;
    color: #fff;
}

#checkout {
    float: left;
}

#check-amt {
    float: right;
}
.mob-text {
        text-transform: capitalize;
    }

@media screen and (max-width: 768px) {
    .book, .book-img {
        width: 100px;
        height: 150px;
    }

    .card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mob-text {
        font-size: 13px;
    }

    .pad-left { 
        padding-left: 20px;
    }
   
}


#search-results {
    position: fixed;
    display: block;
    background: honeydew;
    line-height: 20px;
    width: 60%;
    color: #bf8c0c;
height: 400px;
    top: 400px;
    overflow-y: auto;
    left: 50%; /* Set left to 50% */
    transform: translate(-50%, -50%); /* Center the div */
    text-align: left;
    transition: max-height 2.5s ease-in-out;
    z-index: 999999;
}

#search-results a{
    color: #000;
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 5px;
    width: 100%;
}
#search-results a:hover{
    color: #000;
    text-decoration: none;
}
.results{
    font-style: normal;
    color: #bf8c0c;
    font-weight: bolder;
 
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 204, 0.4); /* Cream background with 0.4 opacity */
    z-index: 9999;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

#overlay.active {
    display: block;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* White background for content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#close-overlay-btn {
    position: absolute;
    top: -20px;
    right: 0px;
    cursor: pointer;
    font-size: 24px;
}

/* Styles for the open overlay button */
.cart{
    max-height: 500px;
    overflow: scroll;
}
.cart::-webkit-scrollbar{
    display: none;
}
.fa-xmark{
    cursor: pointer;
}
.links.alpha{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
    .alpha:hover{
        color: hotpink;
    }