
.hamburger-menu{
    z-index: 99999999999999;
    
}
.resizable-menu {
    height: 0;
    width: 0;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    right: -20px;
    padding: 10px;
    
}

.resizable-menu.active {
    height: 100vh;
    width: 100vw;
    animation: circleup 1s ease;
    opacity: .9;
    right: 0;
}
.resizable-menu.inactive{
animation: circleout 1s ease;
opacity: .9;
}
@keyframes circleout {
    0% {
        border-bottom-left-radius: 0%;
        height: 100vh;
        width: 100vw;
    }
    20% {
        border-bottom-left-radius: 10%;
    }
    40% {
        border-bottom-left-radius: 20%;
    }
    60% {
        border-bottom-left-radius: 30%;
    }
    80% {
        border-bottom-left-radius: 40%;
    }
    100% {
        border-bottom-left-radius: 0%;
        height: 0vh;
        width: 0vw;
    }
} 
@keyframes circleup {
    0% {
        border-bottom-left-radius: 50%;
        height: 0vh;
        width: 0vw;
    }
    20% {
        border-bottom-left-radius: 40%;
    }
    40% {
        border-bottom-left-radius: 30%;
    }
    60% {
        border-bottom-left-radius: 20%;
    }
    80% {
        border-bottom-left-radius: 10%;
    }
    100% {
        border-bottom-left-radius: 0%;
        height: 100vh;
        width: 100vw;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px) {
.nav-link{
display: none;
}
}

::-webkit-scrollbar {
    width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e81c4f; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e81c4f; 
}

.centered-div  nav {
display: inline-block;
    background: #e81c4f;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
}
.centered-div   nav label {
    color: white;
    font-size: 15px;
    font-weight: 300;
    display: block;
    cursor: pointer;
}
.centered-div .button{
    background: none;
}
.centered-div   .button span {
    float: right;
    line-height: 40px;
    transition: 0.5s;
}
.centered-div  .button span.rotate {
    transform: rotate(-180deg);
}
.centered-div  nav ul {
    position: relative;
  position: fixed;
    background: #3a1821;
    list-style: none;
    width: 300px;
    border-radius: 5px;
    display: none;
    transition: all 3s ease-in-out;
}
[id^=btn]:checked + ul {
    display: block;
}
.centered-div  nav .menu:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    background: #1b1b1b;
    right: 24px;
    top: -6px;
    transform: rotate(45deg);
    z-index: -1;
}
.centered-div   nav ul li {
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.centered-div   nav ul li label {
    font-size: 13px;
}
.centered-div   nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    display: block;
}
.centered-div    nav ul li a:hover, nav ul li label:hover {
    color: red;
}
.centered-div   nav ul ul {
    position: static;
}
.centered-div   nav ul ul li {
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
.centered-div    nav ul ul li a {
    color: #e6e6e6;
    font-size: 13px;
}
.centered-div    nav ul li span {
    font-size: 16px;
    float: right;
    margin-top: 13px;
    padding: 0 10px;
    transition: 0.5s;
}
.centered-div    nav ul li span.rotate {
    transform: rotate(-180deg);
}
.centered-div input {
    display: none;
}


.centered-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* You can adjust the width as per your requirement */
    max-width: 1500px; /* Set a maximum width if needed */
    margin: 0 auto; /* This centers the div horizontally */
    padding: 20px;
  
    text-align: center;
}

/* Optional: Add some styles for responsiveness */
@media (max-width: 768px) {
    .centered-div {
        width: 90%; /* Adjust the width for smaller screens */
    }
}