       

.swiper-slide--one {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("images/product3.jpg") no-repeat 50% 50%/cover;
}


.swiper-slide--two {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("images/product4.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--three {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("images/product13.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--four {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("images/product14.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--five {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("images/product18.jpg") no-repeat 50% 50%/cover;
}

.top_bar{
background-color: #ffffff;
}

.header_main{
    background-color: #004658;
}

.main_nav{
    background-color: #ffffff;
    color: white;
}



.logo_container .logo{
position: fixed;
top: 90px;
left: 90px;
z-index: 999999999;

}
.cart-head{
position: fixed;
right: 160px;
margin-top: 10px;
}
.wishlist_cart{
width: 700px;
position: relative;
text-align: start;
color: #fff;
left:270px;
}
.has-subs{
color: #fff;
}
.two{
margin-right: 120px;
right: 240px;
}
.three{
margin-top: 20px;
right: 290px;
cursor: pointer;
}
.bottom-bar-clipse{
height: 40px;
width: 100%;
background-color: #fff;
position: fixed;
top: 130px;
z-index: 9999999;
}

                    .search-bar-section {
        z-index: 99999999;
        position: fixed;
        top: -700px;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        background-color: #fff;
        text-align: center;
        line-height: 200px;
        width: 100%;
        opacity: 0;
        transition: top 0.9s ease, opacity 0.3s ease;
        }

        .search-bar-section.active {
        top: 20px;
        opacity: 1;
        }


        .search-bar-section input:focus{
        outline: none;
        }
        .search-bar-section input{
        width: 70%;
        height: 40px;
        font-size: 1.2rem;
        padding-left: 60px;
        background: none;
        border: none;
        border-bottom: 4px solid #e81c4f;
        }


        * {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.containeer {
width: inherit;
background: #004658;
justify-content: space-between;
align-items: center;
overflow: hidden;
position: fixed;

}



.hamburger {
display: block;
position: fixed;
top: 90px;
right: 70px;
width: 30px;
height: 23px;
z-index: 999;

cursor: pointer;
}
.hamburger.nav-open span:first-child {
transform: rotate(135deg);
top: 10px;
}
.hamburger.nav-open span:nth-child(2) {
left: 100px;
opacity: 0;
}
.hamburger.nav-open span:last-child {
transform: rotate(-135deg);
top: 10px;
}
.hamburger span {
width: 100%;
height: 3px;
background: #ffffff;
position: absolute;
display: block;
transition: all 0.3s;
}
.hamburger span:first-child {
top: 0;
}
.hamburger span:nth-child(2) {
top: 10px;
left: 0;
}
.hamburger span:last-child {
top: 20px;
}

.menu {
width: 100%;
height: calc(100vh - 70px);
position: fixed;
top: 150px;
left: 100%;
outline: 1px solid white;
background:  #004658 ;  transition: all 0.5s;
display: none;
opacity: .9;
}
.menu.nav-open {
left: 0;
display: block;
transition: all 0.3s;
}
.menu > li {
position: relative;
list-style: none;
padding: 15px;
border-bottom: 1px solid #44448ddc ;;
}
.menu > li > a {
text-decoration: none;
color: white;
font-weight: 700;
text-transform: uppercase;
font-size: 0.9em;
line-height: 1.4;
}
.menu > li > a.active::after {
opacity: 1;
}
.menu > li > a::after {
content: "";
width: auto;
height: auto;
position: absolute;

right: 50%;
transform: translateY(-50%);
border-right: 13px solid #00bef0 ;;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
display: block;
opacity: 0;
}

.sub-menu {
position: fixed;
top: 150px;
right: 0;
width: 50%;
height: calc(100vh - 70px);
background: #004658 ;;
overflow: auto;
opacity: 0;
z-index: -1;
transition: opacity 0.3s ease-in-out;
}

.sub-menu.active {
opacity: 1;
z-index: 999;
}
.sub-menu li {
list-style: none;
padding: 15px 20px;
font-size: 0.9em;
border-bottom: 1px solid  #44448ddc ;  cursor: default;
}
.sub-menu li a {
text-decoration: none;
color: white;
font-weight: 700;
text-transform: uppercase;
}
.sub-menu li a:hover {
color: gold;
}
.sub-menu .title {
font-size: 1.4em;
color: white;
font-weight: 700;
padding: 15px 15px 15px 15px;
border-bottom: 1px solid white;
}
.sub-menu .links {
display: flex;
}
@media screen and (max-width: 600px) {
.sub-menu .links {
flex-direction: column;
}
}
.sub-menu .links li {
padding: 5px 15px 5px 0;
border: none;
}
.sub-menu .links li a {
color: gold;
font-size: 0.7em;
}
.sub-menu .links li a:hover {
color: white;
}
@media screen and (max-width: 767px) {
.sub-menu{
top: 230px;
}
.menu{
top: 230px;
}
}


.landing-page {
position: relative;
background-image: url('images/icons/jake-peterson-VJ4pn_PSBLo-unsplash.jpg'); /* Replace with your image path */
background-repeat: no-repeat;
background-size: 100%; /* Adjust based on your image and design preference */
margin: 0;
}

.landing-page::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: inherit;
filter: blur(5px); /* Adjust the blur value as needed */
}




