body{
  scroll-behavior: smooth;
}
::selection{
background: rgba(184, 23, 106, 0.3);
}
.wrapper{
position: relative;
max-width: 1200px;
margin: auto;
padding: 0 20px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.wrapper .box{
background: #fff;
width: calc(33% - 10px);
padding: 25px;
border-radius: 3px;
box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
font-size: 20px;
color: #17a2b8;
}
.wrapper .box .content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding-top: 10px;
}
.box .info .name{
font-weight: 600;
font-size: 17px;
}
.box .info .job{
font-size: 16px;
font-weight: 500;
color: #17a2b8;
}
.box .info .stars{
margin-top: 2px;
}
.box .info .stars i{
color: #17a2b8;
}
.box .content .image{
height: 75px;
width: 75px;
padding: 3px;
background: #17a2b8;
border-radius: 50%;
}
.content .image img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 2px solid #fff;
}
.box:hover .content .image img{
border-color: #fff;
}
@media (max-width: 1045px) {
.wrapper .box{
width: calc(50% - 10px);
margin: 10px 0;
}
}
@media (max-width: 702px) {
.wrapper .box{
width: 100%;
}
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Maven Pro", sans-serif;
}
body{
background-image: url(images/icons/minilogo.jpg);
background-attachment: fixed;
}
.section-heading{
color: #fff;
}
section {
height: 100vh;
width: 100%;
display: grid;
place-items: center;
}
.row {
display: flex;
flex-wrap: wrap;
}
.column {
width: 100%;
padding: 0 1em 1em 1em;
text-align: center;
}
.card {
width: 100%;
height: 100%;
padding: 2em 1.5em;
background: linear-gradient(#ffffff 50%,  darkcyan 50%);
background-size: 100% 200%;
background-position: 0 2.5%;
border-radius: 5px;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
cursor: pointer;
transition: 0.5s;
}
h3 {
font-size: 20px;
font-weight: 600;
color: #1f194c;
margin: 1em 0;
}
p {
color: #575a7b;
font-size: 15px;
line-height: 1.6;
letter-spacing: 0.03em;
}
.icon-wrapper {
background-color:  darkcyan;
position: relative;
margin: auto;
font-size: 30px;
height: 2.5em;
width: 2.5em;
color: #ffffff;
border-radius: 50%;
display: grid;
place-items: center;
transition: 0.5s;
}
.card:hover {
background-position: 0 100%;
}
.card:hover .icon-wrapper {
background-color: #ffffff;
color:  darkcyan;
}
.card:hover h3 {
color: #ffffff;
}
.card:hover p {
color: #f0f0f0;
}
@media screen and (min-width: 768px) {
section {
padding: 0 2em;
}
.column {
flex: 0 50%;
max-width: 50%;
}
}
@media screen and (min-width: 992px) {
section {
padding: 1em 3em;
}
.column {
flex: 0 0 33.33%;
max-width: 33.33%;
}
}

.about-us{
  background-color: #004658;
  min-height: 100vh;
  height: 100%;
  display: grid;
place-items: center;
min-width: 100vw;
width: 100%;
}
.about-us .fa-solid{
  font-size: 3rem;
  padding: 10px;
}
.main-head{
  font-size: 4rem;
  margin: 0;
  color: #fff;
}
.about .text {
display: grid;
grid-template-columns: 1fr; 
gap: 20px; 
}

@media (min-width: 768px) {
.about .text {
grid-template-columns: repeat(2, 1fr); 
}
}

@media (min-width: 1024px) {
.about .text {
grid-template-columns: repeat(4, 1fr); 
}
}
@media (max-width: 800px){
.about-us p{
font-size: 12px;
}
}

.vision, .mission, .what-we-do, .pricing {
background-color: #f9f9f9; 
padding: 20px;
border-radius: 10px; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
text-align: center; 
}


.vision, .mission, .what-we-do, .pricing {

background-image: linear-gradient(
to right,
#004658,
#004658 50%,
#fff 50%
);
background-size: 200% 100%;
background-position: 100%;
display: inline-block;
padding: 5px 0;
position: relative;
text-align: center; 
cursor: pointer;
transition: all 0.3s ease-in-out;
overflow: hidden;
}
.about-us p:hover{
color: #fff;
}
.vision:hover, .mission:hover, .what-we-do:hover, .pricing:hover {
background-position: 0;
color: #fff;
box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
}

.vision:hover::after, .mission:hover::after, .what-we-do:hover::after, .pricing:hover::after {
width: 100%;
}

.vision::before, .mission::before, .what-we-do::before, .pricing::before {
content: '';
background-color: #f9f9f9;
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

.shop {
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
text-decoration: none;
width: 220px;
height: 50px; 
padding: 10px;
border-radius:5px;
color: hotpink;
font-size: 18px; 
transition: all 0.3s ease; 

box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.data a:hover {
text-decoration: none;
color: #fff;
background-color: hotpink;
}

.shop:active {
transform: scale(0.5); 
}

.shop:focus {
outline: none; 
box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5); 
}


