
:root {
    --main-bg-color: #e81c4f;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Maven Pro', sans-serif;
  
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
  }
  
  body {
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/03/20/26/woman-3287956_1280.jpg');
    font-size: 65.2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #1d2129;
    display: flex;
    perspective: 1600px;
  }
  
  .version {
    position: absolute;
    bottom: 1em;
    right: 2em;
    border-radius: 4em;
    background: #ff4b2b;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em 2em;
    letter-spacing: 0.1em;
    transition: transform 80ms ease-in;
  }
  
  h1 {
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
  }
  
  form input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 0.8em 0;
    width: 100%;
    font-size: 1.4em;
    font-family: 'Maven Pro', sans-serif;
  
  }
  form input:focus {
    outline: 1px solid var(--main-bg-color);
  }
  
  span {
    color: #333;
    font-size: 1.4em;
    display: inline-block;
    margin: 15px auto;
    font-weight: 100;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  label {
    float: left;
    font-size: 1.4em;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    font-size: inherit;
    line-height: 1em;
  }
  label span::before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    border: 2px solid #aaa;
    vertical-align: bottom;
    transition: all 0.1s ease-in-out;
    margin-right: 0.2em;
    transform: scale(0.99);
  }
  
  input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  input[type=checkbox]:checked + span::before {
    border-color: #fafafa;
    box-shadow: 0 0 0 2px var(--main-bg-color);
    background: var(--main-bg-color);
    transform: scale(0.8);
  }
  input[type=checkbox]:focus + span {
    text-decoration: underline;
  }
  input[type=checkbox]:checked + span {
    text-decoration: none;
  }
  
  span.forget {
    float: right;
  }
  
  span.clearfix {
    clear: both;
    display: table;
  }
  
  span.loginwith {
    display: block;
    width: 100%;
    margin-top: 1em;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span.loginwith::before {
    content: "";
    display: inline-block;
    width: 42%;
    border-bottom: 1px solid #aaa;
    vertical-align: middle;
    margin-right: 5%;
  }
  span.loginwith::after {
    content: "";
    display: inline-block;
    width: 45%;
    border-bottom: 1px solid #aaa;
    vertical-align: middle;
    margin-left: 5%;
  }
  
  span.copy {
    display: block;
    font-size: 1em;
    margin-top: auto;
  }
  
  button {
    display: block;
    margin: 1em auto;
    border-radius: 4em;
    border: 1px solid var(--main-bg-color);
    background: var(--main-bg-color);
    color: #fff;
    font-size: 1.2em;
      font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0.8em 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  button svg {
    vertical-align: middle;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  a {
    transition: all 0.3s ease;
    cursor: pointer;
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:hover svg {
    cursor: pointer;
    transition: all 0.3s ease;
    stroke: var(--main-bg-color);
  }
  
  #container {
    width: 100%;
    max-width: 80em;
    min-width: 70.5em;
    height: 50em;
    position: relative;
    border-radius: 2em;
    transform-style: preserve-3d;
    margin: auto;
  }
  #container > div {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }
  
  .content {
    width: 100%;
    height: 100%;
    padding: 0 4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content p {
    font-size: 1.4em;
  }
  
  .login {
    left: 0;
    border-radius: 2em 0 0 2em;
    transform-style: preserve-3d;
  }
  .login button {
    border-radius: 0px;
    width: 100%;
  }
  .login svg {
    margin: 1em;
    stroke: #999;
  }
  .login .content {
    background: #FAFAFA;
    border-radius: 2em 0 0 2em;
  }
  .login h1 {
    margin-top: auto;
  }
  
  .register {
    right: 0;
    border-radius: 0 20px 20px 0;
    transform-style: preserve-3d;
  }
  .register button {
    border-radius: 0px;
    width: 100%;
    margin-bottom: auto;
  }
  .register svg {
    margin: 1em;
    stroke: #999;
  }
  .register .content {
    border-radius: 0 20px 20px 0;
    background: #FAFAFA;
    padding: 0em 4em;
  }
  
  .page {
    right: 0;
    color: #fff;
    border-radius: 0 20px 20px 0;
    transform-origin: left center;
    transition: -webkit-animation 1s linear;
    transition: animation 1s linear;
    transition: animation 1s linear, -webkit-animation 1s linear;
  }
  .page button {
    border-color: #fff;
    background: transparent;
  }
  
  .front {
    background: linear-gradient(-45deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0/100%;
    z-index: 3;
  }
  
  .back {
    background: linear-gradient(135deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0/200%;
    z-index: 2;
  }
  .back .content {
    transform: rotateY(180deg);
  }
  
  .active .front {
    -webkit-animation: rot-front 0.6s ease-in-out normal forwards;
            animation: rot-front 0.6s ease-in-out normal forwards;
  }
  
  .active .back {
    -webkit-animation: rot-back 0.6s ease-in-out normal forwards;
            animation: rot-back 0.6s ease-in-out normal forwards;
  }
  
  .close .front {
    -webkit-animation: close-rot-front 0.6s ease-in-out normal forwards;
            animation: close-rot-front 0.6s ease-in-out normal forwards;
  }
  
  .close .back {
    -webkit-animation: close-rot-back 0.6s ease-in-out normal forwards;
            animation: close-rot-back 0.6s ease-in-out normal forwards;
  }
  
  @-webkit-keyframes rot-front {
    from {
      transform: translateZ(2px) rotateY(0deg);
    }
    to {
      transform: translateZ(1px) rotateY(-180deg);
    }
  }
  
  @keyframes rot-front {
    from {
      transform: translateZ(2px) rotateY(0deg);
    }
    to {
      transform: translateZ(1px) rotateY(-180deg);
    }
  }
  @-webkit-keyframes rot-back {
    from {
      transform: translateZ(1px) rotateY(0deg);
    }
    to {
      transform: translateZ(2px) rotateY(-180deg);
    }
  }
  @keyframes rot-back {
    from {
      transform: translateZ(1px) rotateY(0deg);
    }
    to {
      transform: translateZ(2px) rotateY(-180deg);
    }
  }
  @-webkit-keyframes close-rot-front {
    from {
      transform: translateZ(1px) rotateY(-180deg);
    }
    to {
      transform: translateZ(2px) rotateY(0deg);
    }
  }
  @keyframes close-rot-front {
    from {
      transform: translateZ(1px) rotateY(-180deg);
    }
    to {
      transform: translateZ(2px) rotateY(0deg);
    }
  }
  @-webkit-keyframes close-rot-back {
    from {
      transform: translateZ(2px) rotateY(-180deg);
    }
    to {
      transform: translateZ(1px) rotateY(0deg);
    }
  }
  @keyframes close-rot-back {
    from {
      transform: translateZ(2px) rotateY(-180deg);
    }
    to {
      transform: translateZ(1px) rotateY(0deg);
    }
  }
  .active .register .content {
    transform-origin: left center;
    -webkit-animation: show-register 0.7s ease-in-out normal forwards;
            animation: show-register 0.7s ease-in-out normal forwards;
  }
  
  .active .login .content {
    transform-origin: right center;
    -webkit-animation: hide-login 0.7s ease-in-out normal forwards;
            animation: hide-login 0.7s ease-in-out normal forwards;
  }
  
  .close .register .content {
    transform-origin: left center;
    -webkit-animation: hide-register 0.7s ease-in-out normal forwards;
            animation: hide-register 0.7s ease-in-out normal forwards;
  }
  
  .close .login .content {
    transform-origin: right center;
    -webkit-animation: show-login 0.7s ease-in-out normal forwards;
            animation: show-login 0.7s ease-in-out normal forwards;
  }
  
  @-webkit-keyframes show-register {
    from {
      transform: rotateY(80deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes show-register {
    from {
      transform: rotateY(80deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes hide-login {
    from {
      transform: rotateY(0.01deg);
    }
    to {
      transform: rotateY(-80deg);
    }
  }
  @keyframes hide-login {
    from {
      transform: rotateY(0.01deg);
    }
    to {
      transform: rotateY(-80deg);
    }
  }
  @-webkit-keyframes hide-register {
    from {
      transform: rotateY(0.01deg);
    }
    to {
      transform: rotateY(80deg);
    }
  }
  @keyframes hide-register {
    from {
      transform: rotateY(0.01deg);
    }
    to {
      transform: rotateY(80deg);
    }
  }
  @-webkit-keyframes show-login {
    from {
      transform: rotateY(-80deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  @keyframes show-login {
    from {
      transform: rotateY(-80deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  