    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'maven pro', sans-serif;
    }

    body{
        height: 100vh;
        background-color: #000;
        background-image: url('https://images.unsplash.com/photo-1511923199659-1c16881689de?auto=format&fit=crop&q=80&w=2098&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Maven Pro' ;
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
    a:hover{
        color: #ff69b4;
    }
    /*header*/
    header{
        position: relative;
        padding: 0 2rem;
    }
    .content {
       
        
    background-color: #f0f0f0;
    width: 100%; /* Set content width to 100% */
    box-sizing: border-box; /* Include padding and border in the width */
    }
    .navbar{
        background: transparent;
        position: fixed;
        left: 0;
        top: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw; /* Use viewport width for full screen width */
        padding: 20px 0;
        text-align: center;
        transition:0.5s ease;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1000; /* Ensure the navbar is on top */
    }
   
    .navbar .logo a {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        padding-bottom: 9.0px;
    }
    .navbar .logo .text{
        position: absolute;
        display: flex;
        left: 42px;
        top: -5px;
        width: 200px;

    }
    .navbar .logo img{
        height: 40px;
        padding-left:10px;
        position: relative;
    }
    .navbar .links{
        display: flex;
        gap: 2rem;
    }
    .navbar .toggle_btn{
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 4rem;
    }
    .navbar .action_btn{
        background-color: hotpink;
        color: #fff;
        padding: .5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: bold;
        cursor: pointer;
        width: 100px;
        text-align: center;
        position: relative;
        right: 4rem;
    }
    .action_btn:hover{
        scale: 1.05;
        color: #fff;
    }
    .action_btn:active{
        scale: .95;
    }
    .dropdown_menu{
        display: none;
        position: fixed;
        right: 2rem;
        top: 90px;
        height: 0;
        width: 300px;
        background-color:#44448ddc ;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .dropdown_menu.open{
        height: 260px;
    }
    .dropdown_menu li{
        padding: .7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown_menu .action_btn{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: hotpink;
        color: #fff;
        padding: .5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        position: relative;
    }
    /*hero*/
    section#hero{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
    }
    #hero h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    #hero em{
        color: hotpink;
        font-style: normal;
    }
    #hero .action_btn{
        background-color: rgba(68, 68, 141, 0.862);
        color: #fff;
        padding: .5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: bold;
        cursor: pointer;
        width: 200px;
        text-align: center;
        position: relative;
        
    }
    /*rwd*/
    @media(max-width:1200px){
        .main_nav_menu{
            display: none;
        }
    }
    @media (max-width: 992px){
        .navbar .links,
        .navbar .action_btn{
            display: none;
        }
        .navbar .toggle_btn{
            display: block;
        }
        .dropdown_menu{
            display: block;
            height: 0px;
        }
    }
    @media (max-width: 992px){
        .dropdown_menu{
            height: 0px;
            left: 2rem;
            width: unset;
        }
    }

       /* cookie banner styles go here */
       #cookie-banner {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #014e5a;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

   