
    * {
        font-family: 'Maven Pro', sans-serif;
      box-sizing: border-box;
    }
    body{
        background-color: #ffffff;

    }

    .product img {
      width: 190px;
      height: 450px;
      object-fit:cover;
    
    }
    
    .products-container {
      max-width: 4000px;
      margin: 20px auto;
      padding: 20px;
      background-color: #e5e1e1;
      box-shadow: 0 2px 4px rgb(255, 191, 0);
    
    }
    .product {
      display: flex;
      display: inline-block;
      margin-bottom: 20px;
      border-radius: 15px;
      overflow: hidden;
      margin-right: 13px;
      border-radius: 15px;
      background: #ffffff;
      box-shadow: inset 15px 15px 30px #bd8686,
            inset -15px -15px 30px #ffc8c8;
    }
    .flex-container {
      display: flex;
      flex-wrap:wrap;
    margin: 50px;
    font-family: 'Maven Pro', sans-serif;
    padding: 10px;
    background-color:#004658;
    }
    .product{
      width: 100%;
      
    }

    .flex-item-left {
      background:linear-gradient( #ffffff);
      flex: 20%;
      font-family: 'Maven Pro', sans-serif;
    padding: 5px;
    border-radius: 5px;
      margin: .5px;
      width: flex;
      text-align: center;
     
    }
    @media (max-width: 1200px){
        .flex-item-left{
            flex: 25%;
        }
    }
    /* Responsive layout - makes a one column-layout instead of a two-column layout */
    @media (max-width: 800px) {
      .flex-item-right, .flex-item-left {
        flex: 40%;
        text-align: center;
      }
    }
    @media (max-width: 600px) {
      .flex-item-right, .flex-item-left {
        flex: 100%;
      }
    }
    .image img{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .prices{
        display: flex;
        flex: content;
        margin:auto;
        text-align: center;
    }
    .prices span {
    height: 30px;
    width: 10%;
    background: #fff;
    text-align: center;
    padding: 5px;
    margin: 1px;
    border-radius: 2px;
    border: .5px solid #ff69b4;
    color: #ff69b4;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.9s, border-color 0.9s, color 0.9s; /* Added transitions */
}

.prices span:hover {
    background: #bd005f;
    border: .5px solid #fff;
    color: #fff;
}
.prices span.active {
    background: #ff69b4;
    border: .5px solid #fff;
    color: #fff;
}
    .items-head{
        font-size: 12px;
        color: #ff69b4;
    }
    .add-to-cart-btn {
width: 100%;
padding: 0.4em 1em;
background: none;
border: .5px solid #eaa2a2;
font-size: 15px;
color: #ffffff;
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s;
border-radius: 5px;
background-color: #e81c4f;
font-weight: bolder;
box-shadow: 0 .5px 0 .5px #000;
margin-bottom: 20px;
}

.add-to-cart-btn:before {
content: "";
position: absolute;
width: 325px;
height: 120%;
background: linear-gradient(to right,#e81c4f ,#ffffff);;
top: 50%;
transform: skewX(30deg) translate(-150%, -50%);
transition: all 0.5s;
}

.add-to-cart-btn:hover {
background-color: #ffffff;
color: #e81c4f;
box-shadow: 0 2px 0 2px #f49595;
}

.add-to-cart-btn:hover::before {
transform: skewX(30deg) translate(150%, -50%);
transition-delay: 0.1s;
}

.add-to-cart-btn:active {
transform: scale(0.9);
}
.product-details{
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-right: 20px;
}
/* Define styles for the button */

.price{
    font-weight: 900;
}

