
    * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10/16 = 0.625 * 100 */
}

body {
  background: url('https://cdn.pixabay.com/photo/2018/03/10/07/09/cosmetics-3213368_640.jpg');
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(8px);
  color: #3c3c39;

  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Monsterrat', sans-serif;
  position: relative;
  padding: 2rem 0;
}

.checkout-container {
  /* background-color: red; */
  display: none;
  width: 100rem;
  max-width: 320rem;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  /* margin-bottom: 10rem; */
}

em {
  font-style: normal;
  font-weight: 700;
}

hr {
  color: #fff;
  margin-bottom: 1.2rem;
}

/* Left Side Of Container */
.left-side {
  background: url('https://cdn.pixabay.com/photo/2018/03/10/07/09/cosmetics-3213368_640.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  background: rgba(95, 121, 134, 0.8);
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
}

/* Left container text */

.home-heading {
  color: #e8e8e1;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.home-price {
  color: #aeae97;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.home-desc {
  color: #e8e8e1;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Right Side of container */

.right-side {
  background-color: #fff;
  padding: 1.8rem 3.2rem;
}

.receipt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: solid 1px;
  margin-bottom: 1rem;
}

.receipt-heading {
  font-size: 1.6rem;
  text-align: left;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  color: #64645f;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.total td {
  font-size: 1.4rem;
  font-weight: 700;
}

.price {
  text-align: end;
}

/* Payment Section */

.payment-heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.form-box {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.card-logo {
  font-size: 2rem;
}

.expires,
.form-box label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-box input {
  font-family: inherit;
  font-size: 1.2rem;
  height: 40px;
  padding: 0.5rem;
  width: 100%;
  color: #1d1d9c;
}

.form-box select {
  padding: 0.5rem;
  height: 40px;
  width: 100%;
  color: #1d1d9c
}

.form-box #cvv {
  width: 25%;
}

.cvv-info:link,
.cvv-info:visited {
  color: inherit;
  text-decoration: underline;
}

.cvv-info:hover,
.cvv-info:active {
  color: #5f7986;
  text-decoration: none;
}

.btn {
  background-color: #44448d;
  border: none;
  border-radius: 8px;
  color: #eff2f3;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d1d9c;
  transition: ease-out 0.1s;
}

.footer-text {
  font-size: 1rem;
  text-align: center;
}

.form-box *:focus {
  outline: none;
border: 1px solid #44448ddc;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body {
 display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
}

.content {
 position: relative;
}

.content h2 {
 color: #fff;
 font-size: 2em;
 position: absolute;
 transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
 color: transparent;
 -webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
 color: #c19bf5;
 animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
 0%,
 100% {
     clip-path: polygon(
         0% 45%,
         16% 44%,
         33% 50%,
         54% 60%,
         70% 61%,
         84% 59%,
         100% 52%,
         100% 100%,
         0% 100%
     );
 }

 50% {
     clip-path: polygon(
         0% 60%,
         15% 65%,
         34% 66%,
         51% 62%,
         67% 50%,
         84% 45%,
         100% 46%,
         100% 100%,
         0% 100%
     );
 }
}

     .loader {
   box-sizing: border-box;
   display: inline-block;
   width: 50px;
   height: 80px;
   border-top: 5px solid #fff;
   border-bottom: 5px solid #fff;
   position: relative;
   background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
   background-size: 2px 40px;
   background-position: 50% 0px;
   animation: spinx 50s linear infinite;
 }
 .loader:before, .loader:after {
   content: "";
   width: 40px;
   left: 50%;
   height: 35px;
   position: absolute;
   top: 0;
   transform: translatex(-50%);
   background: rgba(255, 255, 255, 0.4);
   border-radius: 0 0 20px 20px;
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: 0 0px;
   animation: lqt 50s linear infinite;
 }
 .loader:after {
   top: auto;
   bottom: 0;
   border-radius: 20px 20px 0 0;
   animation: lqb 50s linear infinite;
 }
 @keyframes lqt {
   0%, 100% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% 0px;
   }
   50% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% 40px;
   }
   50.1% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% -40px;
   }
 }
 @keyframes lqb {
   0% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0 40px;
   }
   100% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0 -40px;
   }
 }
 @keyframes spinx {
   0%, 49% {
     transform: rotate(0deg);
     background-position: 50% 36px;
   }
   51%, 98% {
     transform: rotate(180deg);
     background-position: 50% 4px;
   }
   100% {
     transform: rotate(360deg);
     background-position: 50% 36px;
   }
 }
     
  

.process-payment{
position: fixed;
background: linear-gradient(to right, rgba(235,224,232,1) 52%,rgba(254,191,1,1) 53%,rgba(254,191,1,1) 100%);
height: 100vh;
width: 100vh;
text-align: center;
display: block;
}
.fa-circle-check{
color: #ffffff;
font-size: 70px;
background-color: #15d600;
border: 2px solid #15d600;
border-radius: 50%;
}
.fa-circle-xmark{
color: #ffffff;
font-size: 70px;
background-color: #ff0000;
border: 2px solid #ff0000;
position: fixed;
position: relative;
bottom: 30px;
background-color: #ff0000;
border-radius: 50%;
animation: vibrate 0.1s infinite;
}
@keyframes vibrate {
0% {
 transform: translateX(0);
}
25% {
 transform: translateX(-2px) rotate(-1deg);
}
50% {
 transform: translateX(2px) rotate(2deg);
}
75% {
 transform: translateX(-2px) rotate(-1deg);
}
100% {
 transform: translateX(0);
}
}

::-webkit-scrollbar {
                         width: 8px;
                       }
                       /* Track */
                       ::-webkit-scrollbar-track {
                         background: #f1f1f1; 
                       }
                        
                       /* Handle */
                       ::-webkit-scrollbar-thumb {
                         background: #888; 
                       }
                       
                       /* Handle on hover */
                       ::-webkit-scrollbar-thumb:hover {
                         background: #555; 
                       } 




.card{
border: none;
max-width: 750px;
border-radius: 15px;
margin: 150px 0 150px;
padding: 35px;
padding-bottom: 20px!important;
}



  .prompt,
  .heading{
    font-size: 20px;
  }
  .process-payment{
    text-align: center;
  }
.progress-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 10px;
  animation: progress 90s linear ;
}

@keyframes progress {
  100% {
    width: 100%;
  }
}
.countdown-wrapper {
  width: 100%; /* Set the width of the element */
  position: relative;
  left: 20%;
}


.countdown.flip-clock-wrapper ul {
  height: 50px;
  margin: 0 10px;
  width: 56px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.countdown.flip-clock-wrapper ul li {
  line-height: 47px;
}

.countdown.flip-clock-wrapper ul li a div div.inn {
  background-color: #64608b;
  font-weight: 100;
  color: #FFF;
  font-size: 20px;
  text-shadow: 0 1px 2px #000;
}

.countdown.flip-clock-wrapper ul,
.countdown.flip-clock-wrapper ul li a div div.inn {
  border-radius: 8px;
}

.countdown.flip-clock-wrapper ul li a div.down {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.countdown.flip-clock-wrapper ul li a div.up:after {
  top: 71px;
}

.countdown .flip-clock-dot.top {
  top: 38px;
}

.countdown .flip-clock-dot.bottom {
  top: 26px;
}

.countdown .flip-clock-dot {
  height:5px;
  left: 20px;
  width: 5px;
  background: #607D8B;
}

.countdown .flip-clock-divider {
  height: 144px;
  width: 60px;
}
.countdown .flip-clock-divider:first-child {
  width: 0;
}

.countdown .flip-clock-divider.seconds .flip-clock-label,
.countdown .flip-clock-divider.minutes .flip-clock-label {
  right: -232px;
}

.countdown .flip-clock-divider .flip-clock-label {
  color: #607D8B;
  font-size: 15px;
  width: 232px;
}